#font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

#bounce {
    color: gold;
    font-size: 25px;c
    font-family: 'Courier New', Courier, monospace;
}

#productos {
    color: gold;
    font-size: 25px;c
    font-family: 'Courier New', Courier, monospace;
    }


#tecnologias {
    color: gold;
    font-size: 25px;c
    font-family: 'Courier New', Courier, monospace;
}


#sobreNosotros {
    color: gold;
    font-size: 25px;c
    font-family: 'Courier New', Courier, monospace;
}



#Contactos {
    color: gold;
    font-size: 25px;c
    font-family: 'Courier New', Courier, monospace;
}
